<html>
    <head>
        <title>Add</title>
    </head>
    <body>
<form action="http://localhost:1233/addp" methods="GET">
    <input type="text" placeholder="Name" name="name"><br><br>
    <input type="text" placeholder="$"name="price"><br><br>
    <input type="text" placeholder="Description"name="desc"> <br><br>
    <input type="date" placeholder="Name"name="date"><br><br>
    <input type="file" placeholder="Name" name="image"><br><br>
    <input type="submit" value="Add">
</form>

    </body>
</html>