<html>
<head>
    <title>
        Leopard
    </title>
</head>

<style>
   *{outline: none;margin:0;padding:0;}
html, body {height: 100%;}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(0, 0, 0) 0%, rgba(0, 26, 75, 0.884) 100%);
}

.btn {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #2289ff;
  color: #fff;
  transform: translateY(-7px);
}



</style>
<body>

 <div class="wrap">
 <a href="/signup"> <button class="btn">SIGN UP</button></a>
  &nbsp;
 <a href="/login"> <button class="btn">LOG IN</button></a>
</div>
</body>
</html>
